$font-weight-bolder: "Roboto-Black-900";
$font-weight-bold: "Roboto-Bold-700";
$font-weight-medium: "Roboto-Medium-500";
$font-weight-regular: "Roboto-Regular-400";
$font-weight-light: "Roboto-Light-300";
$font-weight-thin: "Roboto-Thin-100";

$font-weight-bolder-italic: "Roboto-BlackItalic-900";
$font-weight-bold-italic: "Roboto-BoldItalic-700";
$font-weight-medium-italic: "Roboto-MediumItalic-500";
$font-weight-regular-italic: "Roboto-RegularItalic-400";
$font-weight-light-italic: "Roboto-LightItalic-300";
$font-weight-thin-italic: "Roboto-ThinItalic-100";

$primary-color: #80ed99;
$primary-color-dark: #57cc99;
$primary-color-light: #c7f9cc;
$secondary-color: #38a3a5;
$secondary-color-dark: #22577a;
